@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    var currentHour = DateTime.Now.Hour;
    var color = "black";
    switch (currentHour)
    {
        case int h when h < 6:
            color = "gray";
            break;
        case int h when h < 12:
            color = "green";
            break;
        case int h when h < 18:
            color = "orange";
            break;
        default:
            color = "red";
            break;
    }
}

<h1>
    The current server time is
    <text style="color:@color">@Model</text>
</h1>